<div class="col-wrap">
  <div class="col">
    <div class="c-phase-banner">
      <strong class="c-phase-banner--badge">alpha</strong> <span>This is a new service – your <a href="/catalog/feedback">feedback</a> will help us to improve it.</span>
    </div>
  </div>
</div>
