## Render the top navigation bar

#if( $registry.isRedirectToHttpsOnLogin() )
    #set($scheme = "https")
#else
    #set($scheme = "http")
#end

#if ( $request.getServerPort() == "80" )
   #set( $absoluteRoot = "$scheme://$request.serverName/codes" )
#else
   #set( $absoluteRoot = "$scheme://$request.serverName:$request.getServerPort()/codes" )
#end

<header>
  <!--logo-->
  <div class="wrapper wrapper--header">
    <nav class="header wrapper col-wrap">
      <div class="col col--fluid-4 main-logo">
        <a href="https://food.gov.uk/"><img alt="Food Standards Agency" src="/codes/ui/assets/images/logo.png"></a>
      </div>
      <div class="col col--fluid-11"></div>
    </nav>
  </div>
  <div class="wrapper content">
    #parse("structure/_service-bar.vm")
  </div>
</header>

<div class="wrapper content">
  <div class='mega-menu-wrap' role='navigation'>
    <nav class="primary-nav">
      <ul class='primary-nav__list'>
        <li class="primary-nav__item mega-menu__l1" #if($nav=="browse")class="active"#end>
          <a href="$root/?_browse=true" class="primary-nav__link primary-nav__link--home">Browse</a>
        </li>
        <li class="primary-nav__item mega-menu__l1" #if($nav=="about")class="active"#end>
          <a href="$uiroot/about" class="primary-nav__link">About</a>
        </li>
        #if($subject.isAuthenticated())
            #parse( "nav/_menu-admin.vm" )
        #end
        #parse( "nav/_menu-advanced.vm" )

        #if($subject.isAuthenticated())
            #set($user=$subject.principal)
               <li class="primary-nav__item mega-menu__l1">
              <!--    <div class="row">
                      <div class="col-sm-12">
                          <span class="nav-text">$user.name</span>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12"> -->
                          <a href="#logout-dialog" class="primary-nav__link" data-target="#logout-dialog" role="button" data-toggle="modal">logout</a>
                      <!-- </div>
                  </div> -->
              </li>
        #end

        <li class="primary-nav__item mega-menu__l1">
          <form action="$uiroot/text-search" method="get" class="navbar-form navbar-search navbar-right" role="search">
              <div class="form-group">
                  <input type="search" class="form-control search-query" placeholder="Search" #if($query)value="$lib.escapeHtml($query)"#end name="query"/>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </li>
      </ul>
    </nav>
  </div>
</div>

#if($subject.isAuthenticated())
    #parse( "actions/_logout-dialog.vm" )
#end
