#set($nav="about")
#parse("structure/_preamble.vm")
    <div class="jumbotron">
      <div class="container">
        <h1>$registry.configExtensions.registryName</h1>
      </div>
    </div>


    <p>This is an alpha service to provide management and public access to codes and codelists used by the the Food Standards Agency in developing and referencing our open data standards.</p>

    <p>It is based on the UKGovLD <a href="https://github.com/UKGovLD/registry-core/wiki"> design</a> for a Linked Data registry.</p>

#parse("structure/_footer.vm")
